@{
    Layout = "~/Views/Shared/_cmstLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmOrder</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/bootstrap.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h3>Your orders have sent successfully...</h3>
            <h3>we will send you text or call on your phone number for confirmation of your order</h3>
            <h1>Thank you</h1>
        </div>
        <div class="col-xs-2"></div>
    </div>
</body>
</html>
