@{
    Layout = "~/Views/Shared/_cmstLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/bootstrap.js"></script>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="post" action="~/Dowry/Registration">
            <h2>Registration for DowryShopping</h2><br />
            <input type="email" class="set" name="Username" placeholder="Email"/><br /><br />
            <input type="password" class="set" name="Password" placeholder="Password" /><br /><br />
            <input type="submit" value="Register" />
            </form>
        </div>
        <div class="col-xs-3"><form method="post" action="~/Dowry/Login">
            <h2>Login Here</h2><br />
            <input type="email" class="set" name="Username" placeholder="Email"/><br /><br />
            <input type="password" class="set" name="Password" placeholder="Password" /><br /><br />
            <input type="submit" value="Login" />
            </form></div>
    </div>
</body>
</html>
